:root
  --alert: rgba(255, 56, 56, 1);
  --success: rgba(30, 218, 49, 1); /* Успех #00C40B var(--success); */
  --warning: rgba(255, 153, 0, 1); /* Предупреждение #FF9900 var(--warning); */
  --back: rgba(250, 250, 250, 1); /* Общий фон #FaFaFa var(--colorBack); */
  --backGradient77: rgba(250, 250, 250, .7); /* Градиент шапки, средний цвет */
  --backGradient: rgba(250, 250, 250, 0); /* Градиент шапки, нижний цвет */
  --backModal: rgba(17, 17, 17, 0.1); /* Цвет заливки фона при появлении модалки */
  --backModalForm: rgba(0, 32, 51, 0.5); /* Цвет заливки фона при появлении форм */

  /* Система цветов от черного к белому */
  --black: rgba(17, 17, 17, 1); /* #111111 var(--black); */
  --grayBlack: rgba(105, 121, 130, 1); /* #697982 var(--grayBlack); */
  --grayMiddle: rgba(178, 188, 193, 1); /* #B2BCC1 var(--grayMiddle); */
  --gray: rgba(233, 233, 233, 1); /* #E9E9E9 var(--gray); */
  --grayLight: rgba(246, 246, 246, 1); /* #F6F6F6 var(--grayLight); */
  --white: rgba(255, 255, 255, 1); /* #FFFFFF var(--white); */

  /* Система брендовых цветов и их трансформация */
  --brandBlack: rgba(0, 32, 51, 1); /* #002033 var(--brandBlack); */
  --brandDark: rgba(0, 73, 165, 1); /* #0049a5 var(--brandDark); */
  --brand: rgba(0, 122, 194, 1); /* #007AC2 var(--brand); */
  --brandAccent: rgba(0, 145, 255, 1); /* #0091FF var(--brandAccent); */
  --brandAccentLight: rgba(44, 170, 255, 1);
  --brandLight: rgba(89, 194, 255, 1); /* #59C2FF var(--brandLight); */
  --brandLightL: rgba(200, 235, 255, 1); /* #C8EBFF var(--brandLightL); */
  /* //--brandLightLL: #EEF8FF */
  --warningBack: rgba(178, 188, 193, .75); /* Фон сообщения для FF var(--warningBack); */

  /* Тени */
  --shadowBase: rgba(0, 32, 51, 0.2); /* Базовая тень элемента */
  --shadowAccent: rgba(0, 32, 51, 0.5); /* Акцентная тень элемента */
  --shadowWarning: rgba(0, 32, 51, 0.3); /* Тень модалки */
  --shadowButtonWarning: rgba(0, 122, 194, 0.5); /* Тень button модалки */

  /* Переменные компонентов button (Базовая); */
  --buttonColor_P: var(--grayMiddle);
  --buttonColor_H: var(--brandAccent);
  --buttonColor_A: var(--brandBlack);
  --buttonColor_D: var(--gray);
  --buttonBack_P: var(--white);
  --buttonBack_H: var(--white);
  --buttonBack_A: var(--brandLightL);
  --buttonBack_D: var(--white);
  --buttonShadow_P: var(--shadowBase);
  --buttonShadow_H: var(--shadowAccent);
  --buttonShadow_A: var(--shadowBase);

  /* Переменные компонентов input (Базовая); */
  --inputColor_P: var(--grayBlack);
  --inputColor_F: var(--brandAccent);
  --inputColor_A: var(--brandBlack);
  --inputColor_D: var(--grayMiddle);
  --inputPlaceholder: var(--grayBlack);
  --inputBack_P: var(--white);
  --inputBack_D: var(--grayLight);

  /* Переменные размеров шривтов */
  --fontBase: 14px; /* Базовый размер шрифта var(--fontBase); */
  /* Неизменяймые переменные */
  --fontBig: calc(var(--fontBase) * 1.125);
  --fontSmall: calc(var(--fontBase) * 0.875);
  --fontTiny: calc(var(--fontBase) * 0.75);
  --lineHeightH: calc(var(--fontBase) * 1.1);
  --lineHeightText: calc(var(--fontBase) * 1.4);
  --h1: calc(var(--fontBase) * 3.5);
  --h2: calc(var(--fontBase) * 3);
  --h3: calc(var(--fontBase) * 2.5);
  --h4: calc(var(--fontBase) * 2);
  --h5: calc(var(--fontBase) * 1.5);
  --h6: calc(var(--fontBase) * 1.25);
  --fontTitle: calc(var(--fontBase) * 2.5); /* Размер шрифта, заголовок формы */
  --buttonIcon: calc(var(--fontBase) * 2); /* Размер иконки в кнопке формы */
  --buttonIconMin: calc(var(--fontBase) * 1.8); /* Размер иконки в текстовых полях */
  --buttonIconTable: calc(var(--fontBase) * 1.4); /* Размер иконки в ячейке таблицы */
  --fontlabel: calc(var(--fontBase) / 1.1); /* Размер label при фокусе */
